:root {
    box-sizing: border-box;

    --width: 0.01rem;
    --large-width: 0.05rem;
    --larger-width: 0.1rem;

    --very-light_grey-color: #eee;
    --lighter_grey-color: #ccc;
    --light_grey-color: #aaa;
    --grey-color: #888;
    --dark_grey-color: #555;
    --darker_grey-color: #333;
    --very-dark_grey-color: #222;
}
html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: start;
    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: system-ui, sans-serif;
}
/* STYLING CUSTOM RADIO AND CHECKBOX ======================================
   <label class="form-control">
     <input type="radio" name="radio">Radio
   </label>
   <label class="form-control">
     <input type="checkbox" name="checkbox">Checkbox
   </label>
   ======================================================================== */
.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
.form-control--disabled {
    color: var(--dark_grey-color);
    cursor: not-allowed;
}
.form-control input[type="radio"],
.form-control input[type="radio"]::before {
    border-radius: 50%;
}
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}
.form-control input[type="radio"]::before,
.form-control input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--darker_grey-color);
    background-color: CanvasText;
}
.form-control input[type="radio"]:checked::before,
.form-control input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.form-control input[type="radio"]:focus,
.form-control input[type="checkbox"]:focus {
    outline: 1px solid currentColor;
}
.form-control input[type="checkbox"]:disabled {
    color: var(--dark_grey-color);
    cursor: not-allowed;
}
.form-control input[type="checkbox"]::before {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.form-control .form-control {
    margin-top: 1em;
}

/* STYLING CUSTOM SELECT ==================================================
   <label for="standard-select">Standard Select</label>
   <div class="select select--multiple">
     <select id="standard-select" multiple>
       <option value="Option 1">Option 1</option>
       <option value="Option 2">Option 2</option>
     </select>
     <span class="focus"></span>
   </div>
   ========================================================================= */
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}
select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--darker_grey-color);
    border-radius: inherit;
}
select[multiple] {
    padding-right: 0;
    height: 6rem;
}
select option {
    white-space: normal;
    outline-color: var(--darker_grey-color);
}
.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    justify-items: end;
    position: relative;

    min-width: 15ch;
    max-width: 20ch;

    border: 1px solid var(--grey-color);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;

    background-color: var(--very-light_grey-color);
    background-image: linear-gradient(to top, var(--light_grey-color), var(--very-light_grey-color) 33%);
}
select,
.select:after {
    grid-area: select;
}
.select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--dark_grey-color);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.select--disabled {
    cursor: not-allowed;
    background-color: var(--very-light_grey-color);
    background-image: linear-gradient(to top, var(--lighter_grey-color), var(--very-light_grey-color) 33%);
}
.select + label {
    margin-top: 2rem;
}

/* STYLING CUSTOM INPUTS AND TEXTAREA =====================================
   <label for="text-input">Text Input</label>
   <input class="input" id="text-input" type="text" />

   <label for="textarea">Textarea</label>
   <textarea class="input" id="textarea"></textarea>
   ======================================================================== */
.input {
    --input-border: var(--light_grey-color);
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}
.input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}
.input[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: var(--light_grey-color);
}
.input[disabled] {
    --input-border: var(--very-light_grey-color);

    background-color: var(--grey-color);
    cursor: not-allowed;
}
.input:focus {
    border-color: var(--very-dark_grey-color);
    box-shadow: 0 0 0 3px hsla(245, 100%, calc(42% + 40%), 0.8);
    outline: 3px solid transparent;
}
input[type="file"] {
    font-size: 0.9em;
    padding-top: 0.35rem;
}
textarea.input {
    resize: vertical;
}

/* STYLING LABELS AND LEGENDS =============================================
   ======================================================================== */
label,
legend {
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
    padding: 2px;
    text-align: left;
    font: 1rem sans-serif;
}
label.large-label {
    font: bold 1.5rem sans-serif;
    margin-bottom: 0.5rem;
}

label,
legend {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}
label,
legend {
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 500;
}

/* STYLING BUTTON AND ANCHOR ELEMENTS =======================================
   <a href="javascript:;" class="button">Button Link</a>
   <button type="button" class="button">Real Button</button>
   COMMENTS: (1) The `javascript:;` is used to test states without triggering
                 navigation.
             (2) The `type="button"` explicit type button to prevent
                 triggering a get request and page reload.
   ========================================================================== */
a.button {
    text-decoration: none;
}
button.button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}
a.button,
button.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;

    background-color: #fff;
    color: black;
    border: 1px solid var(--grey-color);
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 36px;
    text-align: center;
    line-height: 1.1;

    transition: 220ms all ease-in-out;
}
a.button:hover,
a.button:active,
button.button:hover,
button.button:active {
    background-color: black;
    color: white;
}
a.button:focus,
button.button:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px var(--dark_grey-color);
}
a.button--small,
button.button--small {
    font-size: 1.15rem;
}
a.button--block,
button.button--block {
    width: 100%;
}

/* MAKING STYLING CONSISTENT =====================================
   CSS Styling for Consistent <a>, <button>, and <input> Elements
   =========================================================================== */
label:empty {
    height: 0px;
    padding: 0px;
    margin: 0px;
}
input,
button {
    text-align: left;
    text-decoration: none;
    line-height: 1.5;
    color: inherit;
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}
a {
    display: inline-block;
}
input[type="submit"] {
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
}
input[type="radio"] {
    width: 20px;
    text-align: center;
}
fieldset {
    border: 2px dotted var(--grey-color);
    height: 100px;
    text-align: left;
    padding-left: 10px;
    grid-column: 1/2;
}
fieldset div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
}
fieldset label {
    height: 30px;
    line-height: 30px;
}
form button {
    grid-column: 1/-1;
    display: inline-block;
}

/* Error messages */
.error-message {
    color: red;
    font-size: medium;
    outline: 1px solid red;
    background-color: black;
}
/* MEDIA QUERY BREAKPOINT (MOBILE FIRST) =====================================
     < 640px = 40em: Small Phones (Mobile)
   =========================================================================== */
.container {
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 1em;
    max-width: 100%;
    gap: 0px;
}
.container > main,
.container > header,
.container > footer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    gap: 0px;
}
.sign-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    gap: 0px;
}
.sign-header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
}
.sign-header_title h1 {
    text-align: center;
    margin: 0 0 10px 0;
    color: black;
    font-size: 6em;
}
.sign-header_title h3 {
    font-size: 20px;
    font-weight: 300;
    max-width: 80%;
    margin: 0 auto;
}
.sign-header_body {
    display: flex;
    flex-direction: column;
    margin: 4px;
}
.sign-header_body form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sign-header_body form > * {
    margin-bottom: 0px;
}

.register-header {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.register-header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
}
.register-header_title h1 {
    margin: 0 0 10px 0;
    color: black;
    font-size: 6em;
}
.register-header_title h3 {
    font-size: 20px;
    font-weight: 300;
    max-width: 80%;
    margin: 0 auto;
}
.register-header_body {
    display: flex;
    flex-direction: column;
    margin: 4px;
}
.register-header_body form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.register-header_body form fieldset,
.register-header_body form legend.row {
    grid-column: 1/-1;
}
.register-header_body form > * {
    margin-bottom: 3px;
}
.register-header_body form fieldset {
    display: grid;
    grid-template-columns: 1fr;
}
.register-header_body form .emailaddress,
.register-header_body form .password {
    grid-column: 1/-1;
}
.register-header_body form button {
    text-align: center;
}
.sidebar-left {
    background-color: var(--light_grey-color);
}
.sidebar-left_header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--darker_grey-color);
    height: clamp(30px, 40px, 100%);
}
.sidebar-left_header img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.section-header {
    height: clamp(30px, 40px, 100%);
    background-color: var(--dark_grey-color);
}
.sidebar-right {
    background-color: var(--light_grey-color);
}
.sidebar-right_header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--darker_grey-color);
    height: clamp(30px, 40px, 100%);
}
.sidebar-right_header label {
    cursor: pointer;
}
.sidebar-right_header svg {
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 5px;
}
/* .sidebar-right on loggedHome.blade.php */
.menu-wrapper {
    position: relative;
}
.sidebar-right_header .modal {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    width: 0px;
}
.menu-toggle-checkbox {
    display: none;
}
.menu-toggle-checkbox:checked + label .modal {
    content: "";
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 40px;
    right: 2px;
    width: 350px;
    height: 80vh;
    background-color: var(--very-dark_grey-color);
}
.section-header {
    display: grid;
}
.section-main {
    padding: 5px;
    display: grid;
    justify-content: center;
    align-content: space-between;
    height: 12vh;
}
.section-main img,
.section-main p {
    display: inline-block;
    vertical-align: middle;
}
.section-main img {
    justify-self: center;
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    background-color: var(--light_grey-color);
}
.section-main p {
    margin-left: 10px;
}

/* createPost.blade.php */
.post-container {
    display: grid;
    justify-content: center;
    height: 100%;
}
.create-post {
    display: grid;
    place-items: center;
}
.create-post form {
    width: 100%;
    background-color: var(--very-dark_grey-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 100px;
    grid-auto-rows: 100%;
    justify-items: start;
    align-items: center;
}
.create-post form h1 {
    grid-column: 1/4;
    justify-self: center;
    color: white;
}
.create-post form a {
    grid-column: 4/5;
    text-decoration: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--very-light_grey-color);
    color: black;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}
.create-post form textarea {
    grid-column: 1/5;
    height: 80%;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    color: black;
    padding: 5px;
    resize: none;
}
.create-post form button {
    grid-column: 2/4;
    text-align: center;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}
/* loggedHome.blade.php */
.link-to-posts {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}
.link-to-posts:hover {
    text-decoration: underline;
    font-weight: 600;
}

/* posts/index.blade.php */
.posts-list {
    width: auto;
    margin: 10px;
    overflow: hidden;
}
.posts-list h2,
.posts-list a.home {
    text-align: center;
}
.posts-list a {
    display: block;
}
.posts-list ol {
    list-style: none;
    overflow: hidden;
}
.posts-list .home {
    text-decoration: none;
}
.posts-list .home:hover {
    text-decoration: underline;
    font-weight: 600;
}
.posts-list ol > li {
    padding: 10px;
    border: 1px solid var(--very-dark_grey-color);
    background-color: var(--light_grey-color);
    border-radius: 4px;
    margin: 10px;
    width: auto;
    overflow: hidden;
}
.posts-list span {
    user-select: none;
}
.posts-list .edit-post {
    text-decoration: none;
    display: inline-block;
}
.posts-list .edit-post:hover {
    color: darkred;
}
.posts-list .name {
    text-transform: capitalize;
}
.posts-list .content {
    font-weight: 600;
}
.posts-list ol {
    counter-reset: list-counter;
}
.posts-list li {
    counter-increment: list-counter;
}
.posts-list li::before {
    content: counter(list-counter) ". ";
}
.posts-list form.delete {
    display: inline-block;
}
.posts-list form.delete button {
    text-transform: capitalize;
    color: red;
    font-weight: 600;
    padding: 0;
    border: none;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 300ms ease-out;
}
.posts-list form.delete button:hover {
    opacity: 100%;
}

/* posts/edit.blade.php */
.edit-post {
    display: grid;
    place-items: center;
}
.edit-post form {
    width: 100%;
    background-color: var(--very-dark_grey-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 100px;
    grid-auto-rows: 100%;
    justify-items: start;
    align-items: center;
}
.edit-post form h1 {
    grid-column: 1/4;
    justify-self: center;
    color: white;
}
.edit-post form a {
    grid-column: 4/5;
    text-decoration: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--very-light_grey-color);
    color: black;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}
.edit-post form textarea {
    grid-column: 1/5;
    height: 80%;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    color: black;
    padding: 5px;
    resize: none;
}
.edit-post form button {
    grid-column: 2/4;
    text-align: center;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}

/* MEDIA QUERY BREAKPOINT ====================================================
     +640px = 40em: Large Phones
   =========================================================================== */
@media only screen and (min-width: 40em) {
}

/* MEDIA QUERY BREAKPOINT ====================================================
     +768px = 48em: Tablets - medium devices
   =========================================================================== */
@media only screen and (min-width: 48em) {
}

/* MEDIA QUERY BREAKPOINT ====================================================
     +1024px = 64em: Laptops - large devices
   =========================================================================== */
@media only screen and (min-width: 64em) {
    .sign-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .sign-header_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin: 0;
    }
    .sign-header_title h1 {
        text-align: left;
    }

    .sign-header_title h3 {
        margin: 0;
    }
    .sign-header_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 30vw;
    }
}

/* MEDIA QUERY BREAKPOINT ====================================================
     +1280px = 80em: Desktops - largest devices
   =========================================================================== */
@media only screen and (min-width: 80em) {
}
